@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, #212430, #17171a);

  width: 100vw;
  box-sizing: border-box;
}

table {
  padding: 20px;
}

li {
  cursor: pointer;
  font-weight: 500;
}

li:hover {
  color: #c4d0fe;
}
